.header{
  background:#4682B4;
  margin: 5px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
  }
  .menu{
    display: flex;
    margin-right: 10px;
  }
  .menu li{
    margin-right: 10px;
    font-size: 20px;
  }
  .logo img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .lamp img{
    margin-top:20%;
    width:25px;
    height: 25px;
  }
  .profile{
    width: 40px;
    height: 40px;
    border:2px solid #fff;
    border-radius: 100%;
  }