.header{
    width: 100%;
    margin-top: 10px;
    background: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}
.headerBtn{
    display: flex;
}
.headerBtn li{
    margin-right: 50px;
    box-shadow: 0 0 20px violet;
    border-radius: 10px;
    padding: 10px;
}
.wrapperBtn{
    align-items: center;
    display: flex;
}

.logo{
        width: 100px;
        height: 50px;
        margin-right:20px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}